
<ion-header >
  <ion-toolbar >
    <div class="Header">
    <ion-title style="width: 60%; text-align: center;">Primer Ejercicio</ion-title>
    <ion-icon name="arrow-forward-outline" style="width: 20%;" (click)="next()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-componente1 nombre="Bad Bunny" image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV7OiQLUcUrza5WNnel0fPfM2M2CNBnorkVdNn0_OnlU2u9mnZ5TNz0Fv_1DCgxuli16o" 
   info="Edad: 29 - 
   Cantante, compositor, productor musical y luchador profesional puertorriqueño.​ Su estilo musical es generalmente definido como reguetón y trap latino, 
   aunque también ha interpretado otros géneros y estilos variados.
   - Estatura: 1.8 m"></app-componente1>
</ion-content>
